@inherits LayoutComponentBase

<div class="topbar">
    <div class="logo">FirstRegistrars</div>
    <div class="menu">
        <a href="/">Home</a>
        <div class="menu-item has-dropdown">
            <button type="button" class="menu-link">Services</button>
            <div class="dropdown services-dropdown">
                <div class="col">
                    <div class="col-title">Admin Services</div>
                    <a href="/">Item Requisition</a>
                </div>
                <div class="col">
                    <div class="col-title">HR Services</div>
                    <a href="/">e-Appraisal</a>
                </div>
                <div class="col">
                    <div class="col-title">Other Services</div>
                    <a href="/">Send Bulk Email</a>
                    <a href="/">EDMMS</a>
                    <a href="/">Data Exchange</a>
                    <a href="/">FRISMobile Registered Users</a>
                </div>
            </div>
        </div>
        <div class="menu-item has-dropdown">
            <button type="button" class="menu-link">Human Resources</button>
            <div class="dropdown hr-dropdown">
                <div class="col">
                    <div class="col-title">Setup</div>
                    <a href="/designations">Setup Designation</a>
                    <a href="/grade-levels">Setup Grade Level</a>
                    <a href="/professional-bodies">Setup Professional Body</a>
                    <a href="/">Awards</a>
                    <a href="/">Setup Department</a>
                    <a href="/">Setup School Courses</a>
                    <a href="/">Setup Higher Institution</a>
                    <a href="/">Setup Training Topic</a>
                    <a href="/">Setup Training Organiser</a>
                    <a href="/">Setup Salary Adjustment</a>
                    <a href="/">Setup Notch Percentage Increase</a>
                </div>
                <div class="col">
                    <div class="col-title">Employment</div>
                    <a href="/">Previous Employment Details</a>
                    <a href="/">Promotion Details Entry</a>
                    <a href="/">Job Movement</a>
                </div>
                <div class="col">
                    <div class="col-title">Records</div>
                    <a href="/">Recruitment</a>
                    <a href="/">Birthdays</a>
                    <a href="/">Edit Staff Record</a>
                    <a href="/">Staff Reporting Structure</a>
                    <a href="/">View Staff List</a>
                    <a href="/">View Retired/Ex-Staff</a>
                    <a href="/">Records</a>
                    <a href="/">Commendation Details</a>
                    <a href="/">Staff Resignation</a>
                    <a href="/">Family Details</a>
                    <a href="/">Reports</a>
                </div>
                <div class="col">
                    <div class="col-title">Qualification</div>
                    <a href="/">Educational Details</a>
                    <a href="/">Professional Qualification Details</a>
                </div>
                <div class="col">
                    <div class="col-title">Training</div>
                    <a href="/">Training Details (By Course)</a>
                    <a href="/">Training Details (By Staff Name)</a>
                    <a href="/">Schedule New Training and Inform Staff</a>
                </div>
                <div class="col">
                    <div class="col-title">Biometric</div>
                    <a href="/">Biometric Reports</a>
                    <a href="/">Map Biometric Image with HR</a>
                </div>
                <div class="col">
                    <div class="col-title">Reports</div>
                    <a href="/">Staff Movement</a>
                </div>
            </div>
        </div>
        <a href="/">Biometric</a>
        <a href="/">Investment</a>
        <a href="/">CSCS Record</a>
    </div>
    <div class="user">Welcome Back</div>
</div>

<div class="body">
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">Close</a>
</div>
